
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Sensing Project - Task{% endblock %}


{% block page_content %}

<div class="task-title">
    <h1>{{task.taskname}}</h1>
    {{wtf.quick_form(delete_form)}}
</div>
<div class="task-owner">
    <h4>Task Owner:</h4>
</div>
<div class="task-status">
    <h4>Task Status:</h4>
    {{wtf.quick_form(taskstatusform)}}

</div>
<div class="task-description">
    <h4>Description:</h4>
    <p>{{task.description}}</p>
    {{wtf.quick_form(description_edit_form)}}
</div>
<div class="task-sensors">
    <h4>Sensors:</h4>
    <p>{{task.sensors}}</p>
</div>
<div class="task-plugins">
    <h4>Plugins:</h4>
    <p>{{task.plugins}}</p>
</div>
<div class="task-created">
    <h4>Created:</h4>
    <p>{{task.created_at}}</p>
</div>
<div class="task-databasename">
    <h4>Database Name:</h4>
    
</div>
<div class="task-devices">
    <h4>Devices:</h4>
    <ul>
        {% for device in devices %}
        <li> IP address: {{device.device_ip}}</li>
        {% endfor %}
    </ul>

</div>


<td>
    <!-- <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">删除</button>-->
    <a class='text-red' data-toggle="modal" data-href='#' data-target="#confirm-delete">Show QRcode</a>
</td>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                QRcode
            </div>
            <div class="modal-body">
                <p>{{qrcodelink}}</p>
                <img class="qrcode-for-task" src="{{qrcodelink}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                <a class="btn btn-danger btn-ok">Download</a>
            </div>
        </div>
    </div>
</div>

<div class="Real-time Data">
    <h4>Real-time Data:</h4>

</div>

{% endblock %}